<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/public/javascripts/index.js"></script>
</head>
<body>
    <h1 class="WelcomeSign">Welcome!</h1>
    <button onclick="myFunction()">Click me</button>
    <div class="TopicList">
        <figure>
            <figcaption>TopicList</figcaption>
            <ul>
                <li><a href="/topic_mainpages/Default_mainpage.html" class="Topic">Default</a></li>
                <li><a href="/topic_mainpages/Default_mainpage.html" class="Topic">Default</a></li>
            </ul>
        </figure>
    </div>
</body>
</html>